<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danica Rain</title>
<link rel="stylesheet" type='text/css' href = 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css'>
    <link rel="stylesheet" type='text/css' href = '/stylesheets/app.css'>



</head>
<body>
    <div class="ui fixed inverted menu">
        <div class='ui container'> 
        
        <a href="/" class ='header item'> 
        <!--<i class='transgender icon'></i> -->
        <img src ='https://upload.wikimedia.org/wikipedia/commons/1/11/A_TransGender-Symbol_Plain3.svg' />
        Danica </a>

  <!--<a href='/' class="item ">Home</a>-->
  <!--<a  href='/blogs/new' class="item ">New Post</a>-->
    <a  href='/vlogs' class="item ">Vlog</a>
        <a  href='/bio' class="item ">Bio</a>
        <a  href='/info' class="item ">Trans-Education</a>
                <a  href='/contact' class="item ">Contact Me</a>



  <!--<a  href='' class="item">Upcoming Events</a>-->
            </div>

</div>
<div id='bigbox'> 