<% include ./partials/header %>
<div class='ui main text container' >
        <div class='ui huge header'>  Danica's Bio </div>
        <H2> My Story </H2>
        <div class='row'>
            <div >
                <img style="height: 300px" src='https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-9/13267778_1178094348901737_5375570574430239693_n.jpg?oh=15f79e480a56eaedba361e7cd196e674&oe=57F874D2'> </img>
            </div>
            
            <h3> T.A.C.  (Trans Awareness Canada) </h3>
            <p>
                
                Hi my name is Danica Rain, I am a 39 year old transgender female presently living in Toronto Ontario Canada. I was born in a small northern Canadian city called Sudbury. 
                Growing up as the only transgender in Sudbury I discovered that there was no information, resources or support on “MTF” male to female transition. 
                Even now after moving to Toronto there is no one single site that can provide sufficient information for those wanting to transition in Ontario. 
                As a result I came up with the idea of creating a website (T.A.C) “Trans Awareness Canada”, to provide helpful information required for transition. 
                I hope this website helps gives you the resources and information and support you require to start your journey.
            </p>
        </div>
</div>

 <% include ./partials/footer %>
