<% include ./partials/header %>
<div class='ui main text container' >
        <div class='ui huge header'>  Danica's Bio </div>
        <H2> My Story </H2>
        <div class='row'>
            <div >
                <img style="height: 300px" src='https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-9/13267778_1178094348901737_5375570574430239693_n.jpg?oh=15f79e480a56eaedba361e7cd196e674&oe=57F874D2'> </img>
            </div>
        </div>
</div>

 <% include ./partials/footer %>
