<% include ./partials/header %>
<div class='ui main text container' >
        <div class='ui huge header'>  Trans Education </div>
        <H3> Some Helpful Info </H3>
</div>

 <% include ./partials/footer %>
