<% include ./partials/header %>
<div class='ui main text container' >
        <div class='ui huge header'>  Trans Education </div>
        <H3> Some Helpful Info </H3>
        
        <h4>Related to Surgery</h4>
        
        <p><a href="http://www.theplasticsurgeryclinic.com/dr-lista">Breast implants - Dr.Frank Lista</a> </p>
        <p> <a href="http://www.theplasticsurgeryclinic.com/dr-lista">Rhinopasty - Dr.Jamil Ahamed</a> </p>
        <p> <a href="http://www.kamolhospital.com/en/">GRS - Dr.Kamol Pansritum</a> </p>
        <p> <a href="http://www.health.gov.on.ca/en/pro/programs/srs/">Pre Approval OHIP sex reassignment surgery form </a> </p>
        <p> <a href="http://www.wpath.org/site_home.cfm">WPATH website</a> </p>
         <p> <a href="http://lgbtqpn.ca/wp-content/uploads/woocommerce_uploads/2014/08/Surgery-MTF.pdf">Surgery: A guide for MTFs</a> </p>
        
        
        
        
        
        <h4>Other Resources</h4>
        <p> <a href="http://www.thetransgenderproject.com/#!resources/">Other International and Canadian Trans resources</a> </p>
</div>

 <% include ./partials/footer %>
